html {
  background-color: hsl(0, 0%, 10%);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  gap: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  flex-direction: row;
  height: 5em;
  background-color: hsla(0, 0%, 30%, 50%);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.no-padding {
  padding: 0;
  margin: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.jesus {
  height: 45%;
  animation: rotation 2s infinite linear;
}

.jesus-casket {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.specs-head {
  font-size: 3em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.specs > li {
  font-size: 1.5em;
}

.buy-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1em;
  gap: 1em;
}

.buy-option-media {
  max-height: 3em;
  height: min-content;
}

.buy-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;
  background-color: hsl(0, 0%, 20%);
  border-radius: 12px;
  max-width: 20em;
}

.buy-option-head {
  font-size: 2em;
}

.buy-option-head,
.buy-option-desc {
  margin: 0;
  text-align: center;
}

.buy-option-head-intel {
  background: linear-gradient(
    0.25turn,
    hsl(206, 100%, 39%),
    hsl(208, 100%, 54%)
  );
  background: -webkit-linear-gradient(
    0.25turn,
    hsl(206, 100%, 39%),
    hsl(208, 100%, 54%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buy-option-head-amd {
  background: linear-gradient(
    0.25turn,
    hsl(358, 85%, 67%),
    hsl(358, 85%, 52%)
  );
  background: -webkit-linear-gradient(
    0.25turn,
    hsl(358, 85%, 67%),
    hsl(358, 85%, 52%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buy-option-head-arm {
  background: linear-gradient(
    0.25turn,
    hsl(194, 100%, 52%),
    hsl(194, 100%, 37%)
  );
  background: -webkit-linear-gradient(
    0.25turn,
    hsl(194, 100%, 52%),
    hsl(194, 100%, 37%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buy-option-btn {
  transition: all 0.4s;
  background: hsl(0, 0%, 70%);
  text-decoration: none;
  color: black;
  border: 0;
  border-radius: 12px;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.3em;
}

.buy-option-btn:hover {
  background-color: hsl(200, 100%, 85%);
}

.buy-section {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-items {
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 1em;
  background-color: hsla(0, 0%, 30%, 50%);
}

.foot-note {
  font-size: 1.3em;
  margin: 0;
}

.buy-btn {
  font-size: 2.3em;
  background-color: hsl(200, 100%, 85%);
  color: black;
  text-decoration: none;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 12px;
  transition: all 0.4s;
}

.buy-btn:hover {
  background-color: hsl(300, 100%, 85%);
}

.nav-logo {
  height: 100%;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
  height: 100%;
}

.nav-links > a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.nav-links {
  gap: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cool-row {
  padding: 2em;
}

.cool-content {
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.cool-media {
  max-height: 15em;
}

.cool-head {
  margin: 0;
  font-size: 3em;
}

.cool-description {
  max-width: 30em;
  font-size: 1.5em;
  margin: 0;
}

/* Left */

.cool-left .cool-description {
  padding-right: 24px;
}

.cool-left .cool-media {
  padding-left: 24px;
}

.cool-left .cool-head,
.cool-left .cool-description {
  text-align: left;
}

.cool-left .cool-head {
  background: linear-gradient(
    0.25turn,
    hsl(300, 100%, 85%),
    hsl(200, 100%, 85%)
  );
  background: -webkit-linear-gradient(
    0.25turn,
    hsl(300, 100%, 85%),
    hsl(200, 100%, 85%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Right */

.cool-right .cool-head {
  background: linear-gradient(0.25turn, hsl(0, 100%, 85%), hsl(30, 100%, 85%));
  background: -webkit-linear-gradient(
    0.25turn,
    hsl(0, 100%, 85%),
    hsl(30, 100%, 85%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cool-right .cool-head,
.cool-right .cool-description {
  text-align: right;
}

.cool-right .cool-description {
  padding-left: 24px;
}

.cool-right .cool-media {
  padding-right: 24px;
}

/* Small Screen */

@media (max-width: 1024px) {
  .cool-media {
    display: none;
    padding: 0;
    margin: 0;
  }

  .cool-description {
    font-size: 1.7em;
  }

  .cool-description {
    padding: 0 !important;
  }

  .buy-options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
}